*{
	box-sizing:border-box;
}
body{
	background:#92bde7;
	color:#485e74;
	font-family:"segoe UI",Tahoma,Geneva,Verdana,sans-serif;
	max-width:1170px;
}
a{
	text-decoration:none;
	color: #fff;
}

nav{
	color: white;
}
.container{	
	padding:1em;
}
ul{
	list-style:none;
	padding:0;
}
.brand{
	text-align:center;	
}
.brand span{
	color:#fff;
}
.wrapper{
	box-shadow:0 0 20px 0 rgba(72,94,116,0,7);
}
.wrapper > *{
	padding:1em;
}
.company-info{
	background:#c9e6ff;
}
.company-info h3, .company-info ul{
	text-align:center;
	margin:0 0 1rem 0;
}
.contact{
	background:#f9feff;
}